body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  /* margin-bottom: 50px; */
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}


.homepage-container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.homepage-container > div > div:nth-child(2) > form > p {
  padding-bottom: 25px;
}

.checkbox-container {
  max-width: 550px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.checkbox-container > div:first-child {
  padding-right: 25px;
}

.suggestions-container {
  margin: 0 auto;
  text-align: center;
  /* width: 700px; */
}
.suggestions-container > div > div > span {
  font-size: 16px !important;
}

.suggestions-subcontainer {
  display: flex;
  height: 84vh;
}
.suggestions-panel {
  overflow-y: scroll;
  /* overflow-x: visible; */
  width: 200px;
}

.suggestion-container {
  display: flex;
  position: relative;
}

.suggestion-btn-column {
  position: absolute;
  right: 0;
  top: 16px;
  z-index: 1;
}

.suggestions-middle {
  width: 70%;
}

.suggestions-selected-container {
  display: flex;
  overflow-x: scroll;
}
.selected-box {
  width: 210px;
}
.selected-box > div > div > img {
  height: 70px !important;
  width: 70px !important;
}
.selected-box > div > div > div {
  width: 30px;
  float: left;

}
/* .selected-box > div > div > div{
  padding-left: 15px;
} */

.suggestion-box {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

div.suggestion-box:hover {
  background-color: lightblue !important;
}

div.suggestion-box.active {
  background-color: lightblue !important;
}

div.suggestion-box img.suggestions-img {
  /* width: 250px !important; */
  /* min-width: 150px !important; */
  /* max-width: 200px !important; */
}

.select-suggestion-btn {
  /* margin-right: 20px; */
  float: right;
  z-index: 1000 !important;
}

.delete-selected-btn {
  position: absolute;
  right: 6px;
  top: 16px;
  z-index: 1;
}

.make-itinerary-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

.select-suggestion-btn:hover {
  background-color: lightblue !important;
}

.suggestions-map {
  width: 100%;
  height: 420px;
}

.calendar-container {
  height: 84vh;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.homepage-container div div form div #PlacesAutocomplete__root{
  /* width: 95% !important; */
  margin: auto 0;
  width: auto;
}

.homepage-container div div form div #PlacesAutocomplete__root #PlacesAutocomplete__autocomplete-container {
  z-index: 2;
  /* width: inherit */
}

.container div form {
  padding-bottom: 16px;
}